<body>
<h1>{{ board }}</h1>
<div>
    <form method="POST" action="/{{ board }}/post" enctype=multipart/form-data>
        name:<input type="text" name="name"/><br/>
        image: <input type="file" name="image"><br/>
        post: <textarea type="text" name="post_text"></textarea><br/>
        <input type="submit" value="post"/>
    </form>
</div>

{% for post in posts %}
    <br/>
    <div>
        {% if post[1] %}
            <img style="width:100px;" src="{{url_for('static',filename='uploads/'+post[1])}}" />
        {% endif %}
        image:{{ post[1] }}<br/>
        user:{{ post[2] }}<br/>
        date:{{ post[3] }}<br/>
        board:{{ post[4] }}<br/>
        post:{{ post[5] }}<br/>


    </div>
{% endfor %}
</body>